*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(217, 236, 237);
    padding-left: 60px;
}
p
{
    font-size: x-large;
    line-height: 30px;
    border-bottom: 2px solid grey;
}
center
{
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
}